@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: url();
    background-size: 100vw 100vh;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header #logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 125px;
    cursor: pointer;
}

ul{
    display: flex;
    gap: 50px;
}

li{
    list-style: none;
}


li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
    font-style: normal;
    width: 20px;
    border-radius: 50px;
    padding: 10px;
}

li a:hover{
    background-color: black;
    transition: all 0.5s;
    color: white;
    box-shadow: 1px 1px 20px blue;
}

header button{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

header button:hover{
    transition: all 0.5s;
    box-shadow: 1px 1px 20px blue;
}

header a{
    text-decoration: none;
}

#logo-github{
    width: 20px;
}

/* conteudo principal*/

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
}

.lado-esquerdo{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.texto-principal{
    font-size: 24px;
    margin-bottom: 20px;
}

#nome-campos{
    color: orange;

}

.botao a{
    text-decoration: none;
}

#botao-about{
    width: 160px;
    height: 50px;
    border: none;
    background-color: rgb(15, 15, 146);
    border-radius: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 20px blue;
}

#botao-about:hover{
    background-color: black;
    box-shadow: 1px 1px 20px blue;
    transition: all 0.5s;
    color: white;
}

#botao-about a{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    color: white;
}

#seta-baixo{
    width: 25px;
}

.logo-principal{
    display: flex;
    gap: 20px;
}

.botao-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid black;
    border-radius: 100px;
    cursor: pointer;
}

.botao-main:hover{
    box-shadow: 1px 1px 20px blue;
    transition: all 0.5s;
}

.botao-main a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-principal-botao{
    width: 30px;
}

#logo-git-principal{
    width: 34px;
}

#imagem-principal{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 2px 2px 50px 4px blue;
}

/* #backgroud{
    width: 100vw;
    height: 80vh;
} */

/*rodape*/

footer{
    width: 100vw;
    height: 10vh;
}

/*celulares*/

@media(max-width: 480px){
    
}
/*tablet/celulares deitados*/

@media (min-width: 481px) and (max-width: 768px){

}

/*laptops*/

@media (min-width: 769px) and (max-width: 1279px){

}