@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100vw;
    height: 10vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    width: 150px;
}

ul{
    display: flex;
    gap: 50px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
    font-style: normal;
}

header button{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

header a{
    text-decoration: none;
}

#logo-github{
    width: 20px;
}

/* conteudo principal*/

main{
    display: flex;
    width: 100vw;
    height: 80vh;
}

.texto-principal{
    border: 1px solid red;
    padding: 20px;
}

#nome-campos{
    color: orange;
}

.botao-about{
    width: 130px;
    height: 40px;
    border: none;
    background-color: rgb(15, 15, 146);
    border-radius: 50px;
    gap: 10px;
}

.botao-about a{
    text-decoration: none;
    color: white;
}

.botao img{
    width: 10px;
}

#logo-git-principal{
    width: 41px;
}

.logo-principal{
    
}

#imagem-principal{
    width: 100px;
}

/*rodape*/

footer{
    width: 100vw;
    height: 10vh;
    border: 1px solid red;
}